@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "core/variables";
@import "core/layout";
@import "core/mixins";
@import "components/components";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $lightBg;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}