.button {
    background-color: #5c5c5c;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    transition: background-color .4s;
    border-radius: $border-radius;
    &:hover {
        cursor: pointer;
        background-color: #7c7c7c;
    }
}

a {
    text-decoration: none;
    color: inherit;
}